<div class="banner">
    <!-- <span class="banner-title"> -->
        <!-- <i class="fas fa-pencil-alt"></i> -->
        <!-- <span class="banner-title-text">
            - occhietti <i>curiosi</i> -
        </span> -->
    <!-- <i class="far fa-smile-beam"></i> -->
    <!-- </span> -->
    <img src="{{site.baseurl}}/assets/images/logo/logo_1_colored.png" alt="occhietti curiosi logo" id="banner-title-lg">
    <img src="{{site.baseurl}}/assets/images/logo/logo_2_colored.png" alt="occhietti curiosi logo" id="banner-title-sm">
</div>