<nav class="navbar">
    <ul class="navbar-content hidden" data-collapsed="true">
        {% for item in site.data.nav %}
            {% if item.name == page.category or item.name == page.type %}
                {% assign cl = "navbar-item navbar-item-current" %}
            {% else %}
                {% assign cl = "navbar-item" %}
            {% endif %}
        <li class="{{ cl }}"><a href="{{site.baseurl}}{{ item.url | link }}">{{ item.name | capitalize }}</a></li>
        {% endfor %}
    </ul>
</nav>