$font-stack: 'Montserrat', sans-serif;
$primary-color: rgb(0, 124, 145);
$primary-color-light: rgba($primary-color, 0.5);
$primary-color-extralight: rgba($primary-color, 0.1);
$first-post-background: rgb(244, 244, 244);
$text-color: rgb(80, 80, 80);
$readmore-color: rgba(0, 0, 0, 0.3);
$readmore-bg: rgba(0, 0, 0, 0.1);

$site-width: 1200px;
$upperpage-min-height: 700px;
$upperpage-max-height: 900px;

$card-background: $first-post-background