$font-stack: 'Montserrat', sans-serif;
$primary-color: rgb(243, 108, 100);
$primary-color-light: rgba($primary-color, 0.5);
$primary-color-extralight: rgba($primary-color, 0.1);
$text-color: rgb(80, 80, 80);

$site-width: 1200px;
$upperpage-min-height: 700px;
$upperpage-max-height: 900px;

$card-background: rgb(244, 244, 244);