--- 
--- 

@import 'vars';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

h3 {
    margin-bottom: 0.4rem;
}

h2 {
    font-size: 3rem;
}

.banner {
    display: flex;
    justify-content: center;
    overflow-wrap: break-word;
    align-content: center;
    vertical-align: middle;
    // line-height: 50px;
    color: $primary-color;
    font-size: 4.5rem;
    padding: 1rem 0rem;
}

.banner-title {
    display: flex;
    align-content: center;
    text-align: center;
}

body {
    font-size: 1rem;
    font-family: $font-stack;
    color: $text-color;
}

.main-container {
    margin: 0 auto;
    width: 100%;
    max-width: $site-width;
    padding: 0rem 1rem;
}

.upper-page-container {
    display: flex;
    height: 100vh;
    min-height: $upperpage-min-height;
    max-height: $upperpage-max-height;
    flex-direction: column;
    align-items: stretch;
}

.navbar {
    display: flex;
    justify-content: right;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    flex-grow: 1;
    justify-content: space-between;
}

.navbar-content {
    display: flex;
    width: 100%;
    justify-content: left;
    overflow: hidden;
    transition: all 1s ease;
}

.navbar-item {
    padding: 1rem;
    margin: 0.16rem 0rem;
    color: $text-color;
    font-family: 'Lekton', sans-serif;
    letter-spacing: 0.2rem;
    font-size: 1.8rem;
    flex-grow: 1;
    transition: all 0.3s;
    text-align: center;
}

.navbar-item:hover {
    color: $primary-color;
    background-color: $primary-color-extralight;
    font-weight: 700;
}

.navbar-item-current {
    // color: $primary-color;
    font-weight: 700;
    // text-decoration: underline;
}

.fas,
.far {
    margin: 0 2rem;
    height: 32px;
}

.first-post {
    flex-grow: 1;
    display: flex;
    align-items: stretch;
    overflow: hidden;
    margin: 1rem 0rem;
}

.first-post-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 3rem;
    border-left: 10px solid $primary-color;
    background-color: $first-post-background;
}

.first-post-title {
    margin: 0 0 0rem 0;
}

.first-post-short {
    text-align: justify;
    line-height: 1.5;
    font-size: 1.3rem;
}

.first-post-img-lg {
    width: 60%;
    object-fit: cover;
}

.first-post-img-sm {
    width: 100%;
    max-height: 50vh;
    object-fit: cover;
    display: none;
}

.posts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    height: 550px;
    width: 30%;
    background-color: $card-background;
    margin: 1rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.card-title {
    font-size: 1.5rem;
    padding-bottom: 3px;
    margin-bottom: 1rem;
    border-bottom: 3px solid $primary-color;
}

.card-text {
    margin: 1rem 1.5rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.card-img {
    height: 50%;
    width: 100%;
    object-fit: cover;
}

.card-readmore {
    padding: 0.5rem;
    margin: 1rem;
    text-align: center;
    align-self: flex-end;
    color: $primary-color;
    border: 1px solid $primary-color-light;
    transition: background-color 0.3s;
}

.card .card-readmore {
    font-size: 0.9rem;
}

.card-readmore:hover {
    background-color: $primary-color-extralight;
}

.card-short {
    font-size: 0.9rem;
    vertical-align: bottom;
    line-height: 1.5;
    text-align: justify;
}

footer {
    display: flex;
    justify-content: center;
    align-content: center;
    border-top: 1px solid lightgray;
    margin-top: 2rem;
}

footer p {
    vertical-align: middle;
    line-height: 100px;
}

@media (max-width: 1024px) {
    .card {
        width: 45%;
    }
}

@media (max-width: 768px) {
    .banner {
        justify-content: center;
    }
    .fas,
    .far {
        margin: 0 1rem;
    }
    div.hamburger {
        margin: 1rem 0rem;
        height: 32px;
        float: right;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        transition: background-color 0.5s ease;
    }
    @media (hover: hover) {
        div.hamburger:hover {
            background-color: $primary-color;
        }
        div.hamburger:hover span.ham-line {
            border-color: lightgoldenrodyellow;
        }
    }
    div.hamburger:active {
        transition: none;
        background-color: darkred;
    }
    span.ham-line {
        width: 30px;
        border-top: 1px solid $primary-color;
        transition: border-color 0.5s ease;
        margin-top: 4px;
        margin-bottom: 4px;
        margin-right: 6px;
        margin-left: 6px;
    }
    .hidden {
        padding-top: 0rem;
        padding-bottom: 0rem;
        margin-top: 0rem;
        margin-bottom: 0rem;
        height: 0;
    }
    .navbar-content {
        flex-direction: column;
    }
    .first-post {
        flex-direction: column;
    }
    .first-post-text {
        border-left: 5px solid $primary-color;
    }
    .first-post-img-lg {
        display: none;
    }
    .first-post-img-sm {
        display: block;
        margin: 1rem 0rem;
        height: 85vh;
    }
    .first-post-text {
        padding: 1rem;
    }
    .upper-page-container {
        height: inherit;
        min-height: inherit;
        max-height: inherit;
    }
    .posts-container {
        flex-direction: column;
        flex-wrap: unset;
        align-items: center;
    }
    .card {
        width: 100%;
        height: unset;
    }
}

@media (max-width: 450px) {
    .banner-title {
        font-size: 2.5rem;
    }
    .banner-title-text {
        width: 150px;
        line-height: 1;
    }
    h2 {
        font-size: 2rem;
    }
}