--- 
--- 

{% include header.html %}

<body>

    <div class="main-container">

        <div class="upper-page-container">

            {% include hamburger.html %} 
            
            {% include banner.html %}
            
            {% include nav.html %}

            <div class="first-post">

                {% if page.category %}
                    {% for cat in site.categories %}
                        {% if cat[0] == page.category %}
                            {% assign first_post = cat[1][0] %}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {% assign first_post = site.posts[0] %}
                {% endif %}

                <div class="first-post-text">
                    <div class="title-date">
                        <h2 class="first-post-title">{{ first_post.title }}</h2>
                        <p class="date">{{ first_post.place }}, {{ first_post.date | date_to_string }}</p>
                    </div>
                    <img src="/assets/images/mid/{{ first_post.img_src }}" alt="{{ first_post.img_alt }}" class="first-post-img-sm">
                    <p class="first-post-short">
                        {{ first_post.excerpt | strip_html }}
                    </p>
                    <a href="{{ first_post.url }}" class="card-readmore">Continua a leggere...</a>
                </div>

                <img src="/assets/images/mid/{{ first_post.img_src }}" alt="{{ first_post.img_alt }}" class="first-post-img-lg">

            </div>

        </div>

        <div class="posts-container">

            {% if page.category %}
                    {% for cat in site.categories %}
                        {% if cat[0] == page.category %}
                            {% assign posts = cat[1] %}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {% assign posts = site.posts %}
            {% endif %}


            {% for post in posts %}

                {% if forloop.index == 1 %}  
                    {% continue %}
                {% endif %}

                {% capture post_img_src %}
                /assets/images/sm/{{post.img_src}}
                {% endcapture %}
        
                {% capture post_img_alt %}
                {{post.img_alt}}
                {% endcapture %}
        
                {% capture post_title %}
                {{post.title}}
                {% endcapture %}
        
                {% capture post_excerpt %}
                {{post.excerpt | strip_html}}
                {% endcapture %}

                {% capture post_url %}
                {{post.url}}
                {% endcapture %}
        
                {% include card.html 
                    img_src=post_img_src 
                    img_alt=post_img_alt 
                    url=post_url 
                    title=post_title 
                    excerpt=post_excerpt %}
        
            {% endfor %}
        
        </div>

        {% include footer.html %}

    </div>

    <script src="/assets/js/custom_expand.js"></script>

</body>

</html>