--- 
--- 

{% include header.html %}

<body>

    {% include banner.html %}

    <div class="main-container">

        <div class="upper-page-container">

            {% include nav.html %}

            <div class="first-post">

                {% if page.category %}
                    {% for cat in site.categories %}
                        {% if cat[0] == page.category %}
                            {% assign first_post = cat[1][0] %}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {% assign first_post = site.posts[0] %}
                {% endif %}

                {% if first_post.author %}
                    {% capture subtitle %}
                        di {{ first_post.author }}
                    {% endcapture %}
                {% else %}
                    {% capture subtitle %}
                        {{ first_post.subtitle }}
                    {% endcapture %}
                {% endif %}

                {% capture img_abs_src %}
                {% include url_prepend.html arg_url=first_post.img_src arg_prefix=site.data.img.prefix %}
                {% endcapture %}

                <div class="first-post-text">
                    <div class="title-date">
                        <h2 class="first-post-title">{{ first_post.title }}</h2>
                        <h3 class="first-post-author">{{ subtitle }}</h3>
                        <p class="date">{{ first_post.date | date_to_string }}</p>
                    </div>
                    <img src="{{ img_abs_src }}" alt="{{ first_post.img_alt }}" class="first-post-img-sm">
                    <p class="first-post-short">
                        {{ first_post.excerpt | strip_html }}
                    </p>
                    <a href="{{site.baseurl}}{{ first_post.url }}" class="card-readmore">Continua a leggere...</a>
                </div>

                <img src="{{ img_abs_src }}" alt="{{ first_post.img_alt }}" class="first-post-img-lg">

            </div>

        </div>

        <div class="posts-container">

            {% if page.category %}
                    {% for cat in site.categories %}
                        {% if cat[0] == page.category %}
                            {% assign posts = cat[1] %}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {% assign posts = site.posts %}
            {% endif %}


            {% for post in posts %}

                {% if forloop.index == 1 %}  
                    {% continue %}
                {% endif %}

                {% capture img_abs_src %}
                {% include url_prepend.html arg_url=post.img_src arg_prefix=site.data.img.prefix %}
                {% endcapture %}
        
                {% capture post_img_alt %}
                {{post.img_alt}}
                {% endcapture %}
        
                {% capture post_title %}
                {{post.title}}
                {% endcapture %}

                {% capture post_author %}
                {{post.author}}
                {% endcapture %}

                {% if post.author %}
                    {% capture post_subtitle %}
                        di {{ post.author }}
                    {% endcapture %}
                {% else %}
                    {% capture post_subtitle %}
                        {{ post.subtitle }}
                    {% endcapture %}
                {% endif %}
        
                {% capture post_excerpt %}
                {{post.excerpt | strip_html}}
                {% endcapture %}

                {% capture post_url %}
                {{post.url}}
                {% endcapture %}
        
                {% include card.html 
                    img_src=img_abs_src 
                    img_alt=post_img_alt 
                    url=post_url 
                    title=post_title 
                    subtitle=post_subtitle
                    excerpt=post_excerpt %}
        
            {% endfor %}
        
        </div>

        {% include footer.html %}

    </div>

    <script src="{{site.baseurl}}/assets/js/custom_expand.js"></script>

</body>

</html>