--- 
--- 

{% include header.html %}

<body>

    {% include banner.html %}

    <div class="main-container">
        
        {% include nav.html %}

        {% if page.author %}
            {% capture subtitle %}
                di {{ page.author }}
            {% endcapture %}
        {% else %}
            {% capture subtitle %}
                {{ page.subtitle }}
            {% endcapture %}
        {% endif %}

        {% capture img_abs_src %}
            {% include url_prepend.html arg_url=page.img_src arg_prefix=site.data.img.prefix %}
        {% endcapture %}

        <div class="post-header">
            <div class="post-header-text">
                <h2 class="first-post-title">{{ page.title }}</h2>
                <h3 class="first-post-author">{{ subtitle }}</h3>
                <p class="date date-post">{{ page.place }}, {{ page.date | date_to_string }}</p>
            </div>
            <img src="{{ img_abs_src }}" alt="{{ page.img_alt }}" class="post-header-img">
        </div>
    

        <div class="post-content">
            {{ content }}
        </div>

        {% include footer.html %}

    </div>

    <script src="{{site.baseurl}}/assets/js/custom_expand.js"></script>

</body>

</html>